.typeracer-playground {
  border-radius: 10px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  height: auto;
  background: rgba(118, 189, 255, 0.4);
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.params {
  margin-bottom: 20px;
}
.params h3 {
  margin: 0;
  font-size: medium;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.typeracer-playground input,input:focus {
  border: none;
  border-bottom:1px solid rgb(0, 0, 0); 
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 2rem;
  font-size: larger;
  background: rgba(255, 255, 255, 0.7);
}

.typeracer-loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-ripple div {
  position: absolute;
  border: 10px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
.lds-ripple div:nth-child(3) {
  animation-delay: -1s;
}
@keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}

.exit-btn {
  padding: 0.3em 1em 0.3em 1em;
  width: auto;
  height: 2.2em;
  border: 0;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background: rgb(255, 79, 79);
  box-shadow: 4px 7px 3px 0px;
}

.exit-btn:hover {
  cursor: pointer;
  box-shadow: 2px 5px 3px 0px;
}