.typeracer-text h1 {
  display: inline-block;
  color: #ffffff;
  margin-top: 12rem;
  margin-bottom: 3rem;
  font-size: 4.5em;
  font-weight: 400;
  letter-spacing: 0.2em;
  width: auto;
}

.typeracer-text h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 12s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-iteration-count: infinite;
}
/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  30% { width: 29.6% }
  /* 65% {transform: none;} */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.welcome-enter-btn {
  padding: 0.3em 1em 0.3em 1em;
  width: auto;
  height: 2.2em;
  border: 0;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background: rgb(163, 233, 72);
  box-shadow: 4px 7px 3px 0px;
}

.welcome-enter-btn:hover {
  cursor: pointer;
  box-shadow: 2px 5px 3px 0px;
}